<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @video.user %>
</p>

<p>
  <strong>Uuid:</strong>
  <%= @video.uuid %>
</p>

<%= link_to 'Edit', edit_video_path(@video) %> |
<%= link_to 'Back', videos_path %>
