<p id="notice"><%= notice %></p>

<video id='submission-player' class='video-player' data-uuid='<%= @video.uuid %>'></video>

<p>
  <strong>User:</strong>
  <%= @video.user %>
</p>

<p>
  <strong>Uuid:</strong>
  <%= @video.uuid %>
</p>

<p data-no-turbolink>
  <%= link_to 'Response', '/responses/new/' + @video.id.to_s %>
</p>

<%= link_to 'Edit', edit_video_path(@video) %> |
<%= link_to 'Back', videos_path %>
