<p id="notice"><%= notice %></p>

<div class="row submission-row">
  <div class="col-xs-12">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Original Video Submitted <%= @video.created_at.to_formatted_s(:long_ordinal) %> by <%= @video.user ? @video.user.email : "Anonymous" %></h3>
      </div>
      <div class="panel-body">
        <video id='submission-player' class='video-player' data-uuid='<%= @video.uuid %>'></video>
      </div>
    </div>
  </div>
</div>

<% @video.responses.each do |response| %>
  <div class="row response-row">
    <div class="col-xs-12 col-sm-11 col-sm-offset-1">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">Response Video Submitted <%= response.created_at.to_formatted_s(:long_ordinal) %> by <%= response.user ? response.user.email : "Unknown Councillor" %></h3>
        </div>
        <div class="panel-body">
          <video id='response-player-'<%= response.id %> class='video-player' data-uuid='<%= response.uuid %>'></video>
        </div>
      </div>
    </div>
  </div>
<% end %>

<div class="row">
  <div class="col-xs-12 col-sm-6 col-sm-offset-3">
    <%= link_to 'Respond', '/responses/new/' + @video.id.to_s, :class => "btn btn-primary btn-lg btn-block" %>
  </div>
</div>